// Here you can add other styles
.app-header.navbar .navbar-brand {
  /*background-image: url('../img/logo.new.png');*/
  background-image: none;
}

a, a:active, a:focus {
  outline: none;
}
.cherry-result-img {
  height: 100px;
}
